.project-badge {
    color: var(--primary-color);
    background-color: var(--black);
    align-items: center;
    display: inline-flex;
    margin: var(--margin) 0;
    padding: var(--paddingBadge);
    border-radius: var(--borderRadius, 3px);
    font-weight: var(--fontBold);
}
