.UserLink {
    align-items: center;
    display: inline-flex;
    border-radius: var(--borderRadius);
    font-weight: var(--fontBold);
    font-size: var(--fontSizeSmall);
    background-color: var(--black);
    padding: calc(var(--padding) / 2) var(--margin);
}