.UserLink {
  align-items: center;
  vertical-align: auto;
  display: inline-flex;
  border-radius: var(--borderRadius);
  font-weight: var(--fontBold);
  font-size: var(--fontSizeSmall);
  background-color: var(--black);
  padding: 2px;
}
