.dashboard__panels {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space);
}
@media (min-width: 800px) {
    .dashboard__panels {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width: 1200px) {
    .dashboard__panels {
        grid-template-columns: repeat(3,1fr);
    }
}
