@import "bulma/css/bulma.min.css";

@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
    /*spacing*/
    --space: 0.9rem;

    --margin: calc(var(--space) / 2);
    --padding: var(--space);
}

body {
    padding: 1rem;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(var(--padding) / 2);
}

fieldset {
    legend {
        font-size: large;
        padding-top: 0.5rem;
        margin-bottom: 2rem;
        font-weight: bold;
        border-bottom: 2px solid var(--bulma-info);
        width: 100%;
    }
}