.TaskStatusBadge {
    display: inline-flex;
    flex-shrink: 0;
    padding: calc(var(--margin) / 2);
    border-radius: 50%;
    color: var(--text-color);
    background-color: var(--black);
    align-items: center;
    justify-content: center;
}

.TaskStatusBadgeCompleted {
    color: var(--black);
    background-color: var(--green);
}