@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-359deg);
    }
}

@keyframes fadeInUp {
    0%,
    100% {
        opacity: 0;
        bottom: 0;
    }
    10%,
    90% {
        opacity: 1;
        bottom: 10px;
    }
}

@keyframes fadeIn {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeInPopup {
    from { 
        opacity: 0;
        bottom: -20px;

    }
    to {
        opacity: 1;
        bottom: 0px;

    }
}
@keyframes fadeInBackdrop {
    from { 
        opacity: 0;
    }
    to {
        opacity: .6;
    }
}
