@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-359deg);
    }
}

@keyframes fadeInUp {
    0%,
    100% {
        opacity: 0;
        bottom: 0;
    }
    10%,
    90% {
        opacity: 1;
        bottom: 10px;
    }
}
