// base reconmap components
.base {
    display: flex;
    flex-direction: column;
    padding: $padding 15px ;
    border-width: 4px;
    border-color: transparent;
    border-radius: $radius;
    transition: background .2s , box-shadow .12s, border .1s, opacity .2s;
    background-color: $gray-800;
    color: $gray-100;
    font-size: 1.04rem;
    overflow: hidden;
    &:hover {
        transform: translateY(-2);
        -webkit-transform: translateY(-2);
    }
    header{
        margin-right:  -15px;
        margin-left:  -15px;
        margin-top: -$padding;
        margin-bottom: auto;
        padding: $padding;
        background-color: $gray-700;
        font-size: .9rem;

    }
    footer{
        margin-right:  -15px;
        margin-left:  -15px;
        margin-bottom: -$padding;
        margin-top: auto;
        padding: $padding 15px;
        font-size: .9rem;
        color:$gray-600;
        background-color: $gray-900;
    }
}
.badge {
    padding: .25rem 1rem;
    font-size: .9rem;
    font-weight:600;
    border-radius: .25rem;
    margin: auto .2rem;
}
.bg {
    &-red { background-color: $red-900; }
    &-yellow { background-color: $yellow-900; }
    &-green { background-color: $green-900; }
    &-blue { background-color: $blue-900; }
}

.base-task { 
    height: 128px;
    width: 256px;;
    justify-content: flex-end;
    @extend .base-reactive;
}
.base-project {
    width: 256px;
    height: 256px;
    aspect-ratio: 1 1;
    display: flex;
    justify-content: flex-end;
    border-radius: 14px;
    @extend .base-reactive;
    footer { 
        margin-top: 0px;
    }
    
}
.base-reactive { 
    &:hover {
        border-color: $white;
        cursor: pointer;
    }
}
.base-text , .base p {
    font-size: .9rem;
    color : $gray-500;
}

.base-title, .base h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2rem;
    color: $gray-200;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.base-subtitle, .base h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $gray-200;
    margin-top: .7rem;
    margin-bottom: .7rem;
}
.base-desc , .base h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: $gray-600;
}
