// card reconmap components
.card {
    display: flex;
    flex-direction: column;
    padding: $padding 15px ;
    border-width: $border-width;
    border-color: transparent;
    border-radius: $radius;
    transition: background .2s , box-shadow .12s, border .1s, opacity .2s;
    background-color: $gray-800;
    color: $gray-100;
    overflow: hidden;
    &.outline {
        background-color: transparent;
        border-color: $gray-800;
    }
    h1, .card-title{
        font-weight: 900;
        font-size: $font-size-card-title;
        line-height: 34px;
    }
    h2, .card-subtitle { 
        font-weight: 500;
        font-size: 22px;
        color: #FFFFFF;
    }
    h3, h4, h5,h6, .card-desc { 
        font-weight: bold;
        font-size: $font-size-card-desc;
        line-height: 23px;
        display: flex;
        color: $gray-600;
    }
    
    &:hover {
        transform: translateY(-2);
        -webkit-transform: translateY(-2);
    }
    header{
        margin-right:  -15px;
        margin-left:  -15px;
        margin-top: -$padding;
        margin-bottom: auto;
        padding: $padding;
        background-color: $gray-700;

    }
    footer{
        margin-right:  -15px;
        margin-left:  -15px;
        margin-bottom: -$padding;
        margin-top: auto;
        padding: $padding 15px;
        font-size: $font-size-small;
        color:$gray-600;
        background-color: $gray-900;
    }
}


.reactive { 
    &:hover {
        border-color: $white;
        cursor: pointer;
    }
}

.card-title, .card h1 {
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-card-title;
    line-height: 2rem;
    color: $gray-200;
    &:not(:first-of-type)  {margin-top: .5em;}
    &:not(:last-child) { margin-bottom: 1rem;}
}
.card-subtitle, .card h2 {
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-card-subtitle;
    line-height: 1.8rem;
    color: $gray-200;
    &:not(:first-child)  {margin-top: .5rem;}
    &:not(:last-child) { margin-bottom: .75rem;}

}
.card-desc , .card h3 {
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-card-desc;
    line-height: 1.4rem;
    color: $gray-600;
    &:not(:first-child)  {margin-top: .3rem;}
    &:not(:last-child) { margin-bottom: .3rem;}

}
