.actions { 
    padding:0 $padding 0 $padding;
    height: 50px;
    border-width: $border-width;
    border-color: transparent;
    border-radius: $radius;
    transition: background .2s , box-shadow .12s, border .1s, opacity .2s;
    background-color: rgba($gray-500,.1);
    font-size: $font-size-action;
}

.breadcrumb {
    @extend .actions;
    border:$border-width solid rgba($gray-500,.1);
    background-color: transparent;
}

input, select, textarea {
    @extend .actions;
    &.sm {
        height: 32px;
        font-size: $font-size-small;
        padding: 0px $padding/2;
        svg {
            width: 14px;
        }
    }
    outline: transparent ;
    &:hover{
        box-shadow: 0 0 0px 3px $red-500;
    }
    &:active,  &:focus{
        // background-color: $gray-700;
    }
}
