.actions { 
    padding: $padding 15px ;
    border-width: $border-width;
    border-color: transparent;
    border-radius: $radius;
    transition: background .2s , box-shadow .12s, border .1s, opacity .2s;
    background-color: $gray-800;
    color: $gray-100;
    font-size: $font-size-action;
}
.breadcrumb {
    @extend .actions;
    background-color: transparent;

}
input, select, textarea {
    @extend .actions;
    outline: transparent ;
    &:hover{
        box-shadow: 0 0 0px 3px $red-500;
    }
    &:active,  &:focus{
        background-color: $gray-700;
    }
}

.button-group {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
}

button,.button, .btn {
    @extend .actions;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    &:hover:not([disabled]){ background-color: white; color: $gray-900; }
}
button[type='reset'], button[type='cancel'], button[type='delete']{
    opacity: .75;
    background-color: transparent;
    border-color: $gray-800;
    &:hover{
        background-color: transparent;
        border-color: white;
        color:white;
    }
}
button[type='menu']{
    opacity: .75;
    background-color: transparent;
    border-color: $gray-800;
    &:hover{
    opacity: 1;

        background-color: transparent;
        border-color: $gray-600;
        color: white;
    }
}
button[disabled] { 
    opacity: .5;
    cursor: not-allowed;
}
.card { 
    button {
    background-color: $gray-900;
    font-style: normal;
    font-weight: 500;
    font-size: $font-size-action;
    padding: .25rem 1rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    }
    button[type='menu']{
        opacity: .75;
        background-color: transparent;
        border-color: $gray-900;
        &:hover{
            opacity: 1;
            background-color: transparent;
            border-color: $red-600;
            color: white;
        }
    }
}

