section {
    margin : $margin*2 0px;
    padding: $padding 0px;
    border-bottom: 3px dotted rgba($gray-800,.2 );
    h2 {
        font-size : $font-size-card-title;
        margin-right: auto;
    }
    .heading {
        svg{
            margin-right: $margin;
            color: $red
        }
        margin-bottom:$margin;
    }
}