
table {
    margin: 1rem auto;
   
    tr:nth-child(even){
        background-color: rgba($gray-500, .05);
        border-radius: $radius;
        overflow: hidden;
    }
    tr:hover{
        background-color: rgba($gray-500, .1);
    }
    th{
        text-align: left;
        letter-spacing: .01rem;
        padding: .45rem;

    }
    td{
        padding: .3rem;
    }
    tbody {
        tr th {
        }
    }
}
