// Typography
table th, label, details summary {
    color: $gray-600;
    font-size: $font-size-small;

}
 
p a {
    border-bottom: 2px dotted $gray-500;
    &:hover {
        border-bottom-color: $red-500;
    }
}
h1{
    font-weight: 800;
    font-size: $font-size-title;
    line-height: 49px;
}

h2 {
    font-size : $font-size-card-subtitle;
    font-weight: 500;
    color: $gray-600;
}

p {
    font-style: normal;
    font-weight: 500;
    font-size: $font-size-p;
    margin-top: .25rem;
    margin-bottom: .75rem;
}
small {
    font-size: $font-size-small;
}

