// Typography
table th, label, details summary {
    color: $gray-500;
}
 label {
    margin-right: $margin;
}
p a {
    border-bottom: 2px dotted $gray-500;
    &:hover {
        color: $gray-400;
        border-bottom-color: $red-500;
    }
}
h1{
    font-weight: bold;
    font-size: $font-size-title;
    line-height: 49px;
    color: $red-500;
}

h2 {
    font-size : $font-size-card-subtitle;
    color: $gray-600;
    font-weight: 500;
}
p {
    font-style: normal;
    font-weight: 500;
    color: $gray-600;
    font-size: $font-size-p;
    margin-top: .25rem;
    margin-bottom: .75rem;
}
small {
    font-size: $font-size-small;
}

