// Typography
h1,h2,h3,h4,h5,h6 , table th, label, details summary {
    color: $gray-600;
}
h1{
    color: $red-600;
    font-weight: 700;
    margin-bottom: .4rem;
    font-size: 2.6rem;
}
h2{ font-size: 2.1rem; }
h3{ font-size: 1.7rem; }