.flex {
    display: flex;
}
.justify-end {
    justify-content: flex-end;
}
.push-right {
    margin-left: auto;
    padding-right: 60px;
    width: 25%;
}
@media (min-width: 600px) {
    .flex {
        flex-direction: row;
    }
}

.gap-sm {
    gap: var(--space-sm);
}
.gap {
    gap: var(--space);
}
.mt {
    margin-top: var(--space);
}

// WIDTH
.half { width: 100%; }
@media (min-width: 600px) { .half { width: 50%; }
}
.third { width: 100%; }
@media (min-width: 600px) { .third { width: 66%; }
}

// media queries helpers
.only-desktop { display: none; }
@media (min-width: 1200px) { .only-desktop { display: table-cell; } }

.from-tablet { display: none; }
@media (min-width: 600px) { .from-tablet { display: table-cell; } }

.truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}



.grid {
    display: grid;
    gap : var(--space);
}

// grid-two
// |------2fr------|---1fr---|
.grid-two { grid-template-columns: 2fr 1fr; }
@media screen and (max-width : 900px){
    .grid-two {
        grid-template-columns: 1fr;
    }
}

