$padding : 14px;
$margin: 12px;
$radius: 8px;
$border-width: 3px;

$font-size-title : 42px;
$font-size-subtitle : 22px;
$font-size-card-title : 30px;
$font-size-card-subtitle : $font-size-subtitle;
$font-size-card-desc : 20px;
$font-size-action : 16px;
$font-size-p : 16px;
$font-size-small : 14px;
$font-size-xsmall : 12px;

$bg : #1B202B;

$black : #14171c;
$white	: #fff;
$gray-100	: #f7fafc;
$gray-200	: #edf2f7;
$gray-300	: #e2e8f0;
$gray-400	: #cbd5e0;
$gray-500	: #a0aec0;
$gray-600	: #718096;
$gray-700	: #4a5568;
$gray-800	: #2d3748;
$gray-900	: #1a202c;

$yellow	    : #DFAD2D;
$yellow-900	: #744210;
$green	    : #579F6E;
$green-900	: #22543D;
$blue-900	: #2A4365;
$teal-900	: #234E52;
$purple-900	: #44337A;

$red-100 : #fff5f5;	
$red-200 : #fed7d7;	
$red-300 : #feb2b2;	
$red-400 : #fc8181;	
$red-500 : #f56565;	
$red     :   $red-500;	
$red-600 : #e53e3e;	
$red-700 : #c53030;	
$red-800 : #9b2c2c;	
$red-900 : #742a2a;
