form {
    label {
        display: grid;
        align-items: center;
        grid-template-columns: 220px 1fr;
        grid-column-gap: var(--space);
    }

    label,
    input:not([type="checkbox"]),
    select,
    button {
        margin: var(--margin) auto;
        width: 100%;
    }
}

form input[type="checkbox"] {
    float: left;
    margin-right: var(--margin);
    width: var(--iconSizeSmall);
    height: var(--iconSizeSmall);
    border-radius: var(--borderRadius);
}

form input:required {
    border: var(--borderWidth) solid var(--primary-color);
}

fieldset{
    border: 0;
}

form legend {
    color: var(--white);
}

form.crud fieldset legend {
    border-bottom: var(--borderWidth) solid var(--black);
    width: 100%;
    padding-bottom: var(--space-sm);
}

@media only screen and (max-width: 700px) {
    form {
        label {
            grid-template-columns: 1fr;
        }
    }
}

textarea {
    height: 150px;
}
