form {
    label {
        display: grid;
        align-items: center;
        grid-template-columns: 220px 1fr;
        grid-column-gap: var(--space);
    }

    label,
    input:not([type="checkbox"]),
    select,
    button {
        margin: var(--margin) auto;
        width: 100%;
    }
}

form input[type="checkbox"] {
    float: left;
    margin-right: var(--margin);
    width: var(--iconSizeSmall);
    height: var(--iconSizeSmall);
    border-radius: var(--borderRadius);
}

form input:required {
    border: var(--borderWidth) solid var(--primary-color);
}

fieldset {
    border: 0;
}

form legend {
    color: var(--white);
}

form.crud fieldset legend {
    border-bottom: var(--borderWidth) solid var(--black);
    width: 100%;
    padding-bottom: var(--space-sm);
}

@media only screen and (max-width: 700px) {
    form {
        label {
            grid-template-columns: 1fr;
        }
    }
}

textarea {
    height: 150px;
}

button:focus {
    outline: 0;
}

button:disabled, select:disabled {
    opacity: 0.5;
}

button {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    &[title]:hover:after {
        content : attr(title);
        position: absolute;
        display: block;
        padding: var(--space-sm);
        font-size: var(--fontSizeXsmall);
        opacity: .8;
        top: 130%;
        left : -35%;
        right: -35%;
        margin:auto;
        background-color: var(--black);
        border-radius: var(--borderRadius);
        color : var(--text-color);
        animation: fadeInDown .1s ease;
    }
}

input::placeholder {
    color: var(--text-color);
}

input,
select,
textarea,
button {
    color: var(--white);
    padding: var(--paddingBox);
    border-width: var(--borderWidth);
    border-color: transparent;
    background-color: var(--black);
    border-radius: var(--borderRadius);
    transition: var(--transitionTime);
    font-size: var(--fontSizeSmall);
    outline: transparent;

    &:hover {
        box-shadow: 0 0 0 var(--borderWidth) var(--primary-color);
    }
}
