@import "bulma/css/bulma.css";

:root {
    /*spacing*/
    --space: 0.9rem;

    --margin: calc(var(--space) / 2);
    --padding: var(--space);
    --paddingBadge: calc(var(--space) / 3) calc(var(--space) / 2);
    --borderRadius: calc(var(--space) / 3);
}

body {
    padding: 1rem;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(var(--padding) / 2);
}

a,
span,
input,
figure,
h2,
h3,
h4 {
    svg {
        width: 24px;
        height: 24px;
        padding: 0;
        flex-shrink: 0;
    }
}
