@import 'variables';
@import 'card';
@import 'typography';
@import 'forms';
@import 'inputs';
@import 'tables';

.anim-rotate {
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes spin {
    0%{
        transform : rotate(0deg);
    }
    100% {
        transform : rotate(-359deg);
    }
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.badge {
    padding: .25rem 1rem;
    font-size: $font-size-small;
    font-weight:600;
    border-radius: .25rem;
    margin: auto .2rem;
}
.bg {
    &-red { background-color: $red-900; }
    &-yellow { background-color: $yellow-900; }
    &-green { background-color: $green-900; }
    &-blue { background-color: $blue-900; }
}

