table {
    table-layout: fixed;
    width: 100%;
    margin: var(--padding) auto;

    tbody tr:hover {
        border-left: 1px solid darkgray;
        border-right: 1px solid darkgray;
    }

    th {
        text-align: left;
        padding: var(--padding) var(--margin);
        border-bottom: var(--borderWidth) solid var(--black);
    }

    tbody {
        td:last-child {
            text-align: right;
        }

        td button,
        td a {
            // margin: var(--space-sm);
        }
    }
}

.table-details {
    max-width: 80%;
    margin-left: 0;

    tbody {
        td:last-child {
            text-align: left;
        }
    }
}
