
nav {
  h3 {
    margin-right: auto;
  }
  position: fixed;
  width: 100%;
  padding: var(--padding);
  border-bottom: var(--borderWidth) solid var(--black);
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: var(--padding);
  row-gap: calc(var(--padding) / 2);
  flex-wrap: wrap;
  z-index: 12;

  #progress {
    position: absolute;
    bottom: 0;
    height: var(--borderWidth);
    background-color: var(--primary-color);
    width: var(--sidebarWidth);
    left: 0;
    transition: var(--transitionTime);
  }
}
