nav {
    position: fixed;
    width: 100%;
    padding: var(--padding);
    border-bottom: var(--borderWidth) solid var(--black);
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: var(--space-sm);
    row-gap: calc(var(--space-sm) / 2);
    flex-wrap: wrap;
    z-index: 12;
    h3 {
        margin-right: auto;
    }

    #progress {
        position: absolute;
        bottom: 0;
        height: var(--borderWidth);
        background-color: var(--primary-color);
        width: 0;
        left: 0;
        transition: var(--transitionTime);
    }
}


// This applies from 600px  (Tablets)
@media (min-width: 600px) {
    nav {
        column-gap: var(--space);
        row-gap: calc(var(--space) / 2);
        justify-content: flex-end;
        > a.logo {
            img {
                margin: 0 var(--space);
            }
            margin-right: auto;
        }
    }
}
// This applies from 1200px  (Desktops)
@media (min-width: 1200px) {
    nav {
      }
}
