nav.top-header {
    position: fixed;
    width: 100%;
    padding: var(--space-sm);
    border-bottom: var(--borderWidth) solid var(--black);
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: var(--space);
    row-gap: calc(var(--space) / 2);
    flex-wrap: wrap;
    z-index: 12;
    h3 {
        margin-right: auto;
    }

    > a.logo {
        img {
            margin: 0 var(--space);
        }
        margin-right: auto;
    }
}
