aside.sidebar {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--padding) / 2);

  #bottom {
    width: var(--sidebarWidth);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--padding) / 2);

  }

  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--text-color);
    border-left: var(--borderWidth) solid transparent;
    padding: var(--paddingBox);
    span {
      margin-right: var(--space-sm);
    }
    svg:last-child {
      margin-left: auto;
      opacity: .4;
      width: 16px;
      height: 16px;
      transition: transform .1s;
    }
    &:hover, &.active {
      color: var(--white);
      border-left: var(--borderWidth) solid var(--primary-color);
    }

    &:before {
      content: attr(data-label);
      position: absolute;
      top: -6px;
      bottom: 0;
      left: 24px;
      margin-right: -90px;
      z-index: 20;
      align-items: center;
      border-radius: var(--borderRadius);
      padding: var(--padding);
      background-color: var(--black);
      color: var(--text-color);
      text-align: left;
      width: max-content;
      transition: var(--transitionTime);
      font-size: var(--fontSizeBody);
      display: none;
    }
  }

  a.sublink {
    padding-left: calc(var(--space) * 2.5);
    font-size: var(--fontSizeSmall);
  }
}
