.collapsed .sidebar {
  a span {
    color: transparent;
  }
  a svg:last-child {
    color: transparent;
  }
  a.sublink {
    padding-left: var(--space-sm); 
  }
}

aside.sidebar {
  position: relative;
  #collapse--button{
    position: absolute;
    top:0;
    bottom:0;
    right:0px;
    margin:auto;
    height: 100px;
    width: 6px;
    cursor: ew-resize;
    border-radius: var(--borderRadius);
    background-color: var(--redDark);
    z-index: 20;
    &:hover {
      background-color: var(--primary-color);

    }
  }
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--padding) / 2);
  // border:1px solid red;
  overflow: hidden;
  
  #bottom {
    width: var(--sidebarWidth);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--padding) / 2);

  }

  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--text-color);
    border-left: var(--borderWidth) solid transparent;
    padding: var(--space-sm);
    padding-right: 0;
    span {
      margin-right: var(--space-sm);
    }
    svg:last-child {
      margin-left: auto;
      opacity: .4;
      width: 16px;
      height: 16px;
      margin-right: 0;
      transition: transform .1s;
    }
    &:hover, &.active {
      color: var(--white);
      border-left: var(--borderWidth) solid var(--primary-color);
    }

    &:before {
      content: attr(data-label);
      position: absolute;
      top: -6px;
      bottom: 0;
      left: 24px;
      margin-right: -90px;
      z-index: 20;
      align-items: center;
      border-radius: var(--borderRadius);
      padding: var(--padding);
      background-color: var(--black);
      color: var(--text-color);
      text-align: left;
      width: max-content;
      transition: var(--transitionTime);
      font-size: var(--fontSizeBody);
      display: none;
    }
  }

  a.sublink {
    padding-left: calc(var(--space) * 2.5);
    font-size: var(--fontSizeSmall);
  }
}
