.link-button {
  padding: var(--paddingBox);
  display: inline-flex;
  align-items: center;
  color: var(--white);
  font-size: var(--fontSizeSmall);
  border: var(--borderWidth) solid var(--black);
  background-color: transparent;
  border-radius: var(--borderRadius);
}
