.login__container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    justify-content: space-between;
    div {
        flex:1;
        display: flex;
        align-items: center;
        justify-content: center;
        form {
            legend {
                font-size: var(--fontSizeSubtitle);
                color: var(--white);
            }
            fieldset {
                border: 0;
                outline: 0;
            }
        }
    }
    footer {
        padding: var(--space);
        text-align: center;
    }
}
