name: Build and deployment workflow

on:
    push:
        branches:
            - "**"

jobs:
    version-build-push:
        runs-on: ubuntu-latest
        steps:
            - name: Fix folder permissions
              run: sudo chown -R $USER:$USER ${{ github.workspace }}
            - uses: actions/checkout@v6
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
            - name: Login to container registry
              run: echo "${{ secrets.CR_PAT }}" | docker login ghcr.io -u "${{ secrets.CR_USERNAME }}" --password-stdin
            - name: Set Git credentials
              run: |
                  git config --global user.name github-actions
                  git config --global user.email github-actions@github.com
            - name: Prepare
              run: make
            - name: Run tests
              run: make tests-ci
            - name: Push
              if: github.ref == 'refs/heads/main'
              run: |
                  git push
            - name: Build
              if: github.ref == 'refs/heads/main'
              run: make build
            - name: Push
              if: github.ref == 'refs/heads/main'
              run: make push
