name: Build and deployment workflow

on:
    push:
        branches:
            - "**"

jobs:
    version-build-push:
        runs-on: ubuntu-latest
        steps:
            - name: Fix folder permissions
              run: sudo chown -R $USER:$USER ${{ github.workspace }}
            - uses: actions/checkout@v6
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ secrets.CR_USERNAME }}
                password: ${{ secrets.CR_PAT }}

            - name: Prepare
              run: make
            - name: Run tests
              run: make tests-ci
            - name: Push
              if: github.ref == 'refs/heads/main'
              run: |
                  git push
            - name: Build
              if: github.ref == 'refs/heads/main'
              run: make build
            - name: Push
              if: github.ref == 'refs/heads/main'
              run: make push
