.ExternalLinkComponent {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  color: tomato;
  border-bottom: 2px solid tomato;

  &
  :hover {
    color: salmon;
    border-bottom: 2px solid salmon;
  }
}