.ExternalLinkComponent {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--blue);
  border-bottom: 2px solid var(--blueDark);

  &:hover {
    border-bottom: 2px solid var(--blue);
  }
}