.HeaderUserMenu {
    position: absolute;
    padding: var(--space-lg);
    border-radius: var(--borderRadius);
    background-color: var(--black);
    border:var(--borderWidth) solid var(--text-color);
    // border-image: linear-gradient(35deg,pink, red);
    // color: var(--text-color);
    top: calc(100% + 10px);
    right: 0;
    width: max-content;
    z-index: 10;
    display: flex;
    row-gap: var(--margin);
    flex-direction: column;
    animation-name: fadeInDown;
    animation-duration: .3s;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        top:100%;
    }
    to{
        opacity: 1;
        top: calc(100% + 10px);
    }
}
