.HeaderUserMenu {
    position: absolute;
    border-radius: var(--borderRadius);
    border:var(--borderWidth) solid var(--text-color);
    top: calc(100% + 10px);
    right: 0;
    width: max-content;
    z-index: 10;
    display: flex;
    row-gap: var(--margin);
    flex-direction: column;
}
