// const styles = {
//     helpContainer: {
//         borderRadius: 'var(--borderRadius)',
//         backgroundColor: 'rgba(0,0,0,.1)',
//         marginBottom: 'var(--padding)',
//         borderLeft: 'var(--borderWidth) dashed var(--black)'
//     },
//     header: {
//         display: 'flex',
//         alignItems: 'center',
//         gap: 'var(--margin)',
//         color: 'var(--primary-color)',
//     },
//     icon: {
//         width: '2rem', height: '2rem'
//     }
// }

.help {
    background-color: var(--color-black);
    margin-bottom: var(--space);
    padding: var(--space);
    &__title {
        margin-top : 0;
        display: flex;
        align-items: center;
        margin-bottom: var(--space);
        color: var(--primary-color);
    }
    svg {
        margin-right: var(--space-sm);
        width: var(--iconSizeSmall);
    }
    &__desc {
        border: 1px solid red;
    }
}