@keyframes fadeInUp {
  0%,
  100% {
    opacity: 0;
    bottom: 0;
  }
  10%,
  90% {
    opacity: 1;
    bottom: 10px;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-iteration-count: 1;
  animation-duration: 5s;
}

.Toast {
  border: var(--borderWidth) solid var(--primary-color);
}
